* {
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: #333;
}

.wrapper {
    font-size: 4vw;
    margin: 0 auto;
    padding: 50px;

    @media screen and (min-width: 600px) {
        font-size: 20px;
        max-width: 575px;
    }

}

/*
<div class="clock">
    <ul class="clock__face">
        <li class="clock__digit clock__digit--hour"></li>
    </ul>
    <div class="clock__handle clock__handle--hours">
        <div class="clock__handle-body"></div>
    </div>
    <div class="clock__handle clock__handle--minutes">
        <div class="clock__handle-body"></div>
    </div>
    <div class="clock__handle clock__handle--seconds">
        <div class="clock__handle-body"></div>
    </div>
</div>
*/
.clock {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 100%;
}

.clock__face {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    border: solid 0.4em white;
    border-radius: 50%;
}

.clock__digit {
    display: block;
    width: 100%;
    height: 0.25em;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-left-width: 1em;
    border-right-width: 1em;
    transform-origin: 50%;

    &.clock__digit--hour {
        border-color: white;
    }

    &.clock__digit--minute {
        height: 0.15em;
        border-left-width: 0.6em;
        border-right-width: 0.6em;
        border-color: #999;
    }

    @for $i from 1 through 30 {
        &:nth-child(#{$i}) {
            -webkit-transform: translate(-50%, -50%) rotateZ(6deg * ($i - 1));
            -ms-transform: translate(-50%, -50%) rotateZ(6deg * ($i - 1));
            transform: translate(-50%, -50%) rotateZ(6deg * ($i - 1));
        }
    }

}

.clock__handle {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.clock__handle-body {
    height: 0.3em;
    background-color: white;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    .clock__handle--hours & {
        width: 20%;
        -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

    .clock__handle--minutes & {
        width: 35%;
    }

    .clock__handle--seconds & {
        height: 0.15em;
        width: 38%;
        background-color: red;

        &:after {
            content: '';
            display: block;
            width: 0.5em;
            height: 0.5em;
            background-color: inherit;
            border-radius: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    }

}
